<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/callbacks"><span class="glyphicon glyphicon-tasks"></span> Callbacks</a>
      </li>
      <li>
        <a href="/conversaciones"><span class="glyphicon glyphicon-eye-open"></span> Conversaciones</a>
      </li>
      <li>
        <a href="/events"><span class="glyphicon glyphicon-list"></span> Eventos API Messaging</a>
      </li>
      <li>
        <a href="/messaging"><span class="glyphicon glyphicon-envelope"></span> Test Messaging</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/app/db/init"><span class="glyphicon glyphicon-book"></span> Init DB</a>
      </li>
    </ul>
  </div>
</nav>

<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>